{% extends 'base.html' %}

{% block title %}Choix Flux{% endblock %}

{% block content %}

<a href = "/afficherFlux/starcraft">Starcraft</a><br>
<a href = "/afficherFlux/raspBerryPi">RaspBerryPi</a>

{% endblock %}